<div>
	<p style="padding-top: 10px;">
		I am Bo Hansen Hansen - a guy living in Copenhagen in Denmark. I work with many different things, but I am mostly concerned with development of IT systems and apps - especially with the process of doing so. I hold a PHD in Software Process Improvement (SPI) and have been working in the media business for several years.
	</p>
	<p>
		Based on my experience I prefer working in a very agile fashion - always focusing on the next most-relevant thing. Trying to solve all the potentially relevant problems up front often hinders the progress completely.
	</p>
	<p>
		You can reach me by <a class="link" href="javascript:mailto('bo#2hansen.dk')" title="mail me">email</a> - don't forget to encrypt your messages - <a class="link" href="/assets/docs/0x01C00E22pub.asc" title="GPG Public key">GPG Public key</a>.
	<p style="text-align: center;">
		<a class="twitter-timeline" href="https://twitter.com/2hansen" data-widget-id="553192068445908993">Tweets by @2hansen</a>
	</p>
</div>

<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");function mailto(mail){location.href="mailto:"+mail.replace("#","@");}</script>
