<div class="container">
  <div class="row clearfix">
  <div class="col-md-12 column">
    <div class="bg"></div>
    <div class="jumbotron">
      <h1>2hansen.dk</h1>
    </div>
  </div>
</div>
  <div class="row clearfix" ng-controller="tabCtrl">
    <div class="col-md-12 column">
      <ul class="nav nav-tabs">
        <li ng-repeat="tab in tabs | filter:{ visible: true }" ng-class="{ active:isSet(tab.url) }">
          <a href="#/{{tab.url}}" ng-click="">{{tab.label}}</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="row clearfix" ng-controller="tabCtrl">
    <div class="col-md-12 column">
      <div ng-repeat="tab in tabs | filter:{ visible: true }" ng-show="isSet(tab.url)" ng-include="getTemplate(tab.url)"></div>
    </div>
  </div>  
</div>
<script>
var jumboHeight = $('.jumbotron').outerHeight();
function parallax(){
    var scrolled = $(window).scrollTop();
    $('.bg').css('height', (jumboHeight-scrolled) + 'px');
}
$(window).scroll(function(e){
    parallax();
});
</script>  